.main {
    display: block;
    width: 100%;
}

.header {
    justify-content: space-evenly;
    max-width: 1200px;
    height: 80px;
    margin: 0 0 0 25px;
    align-items: center;
    display: inline-flex;
}

button {
    background: none;
    cursor: pointer;
}

img {
    height: 41px;
}

input {
    /* border: 0;
    outline: none;
    width: 98%;
    font-size: 15px; */
}

.input {
    border-bottom: 1px solid #7A7A7A;
    padding: 1px;
    width: 40%;
    display: inline-flex;
}

.min-input {
    border-bottom: 1px solid #7A7A7A;
    padding: 1px;
    width: 40%;
    display: none;
}

.utils {
    display: flex;
}

.user {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.user:hover {
    background-color: #E6E8EA;
}

.min-menu {
    display: none;
}

@media screen and (max-width: 1024px){
    .user {
        display: none;
    }

    img {
        height: 25px;
    }

    .input {
        position: absolute;
        top: 70px;
        width: 80%;
    }

    .min-input {
        display: inline-flex;
    }

    .min-menu {
        display: grid;
    }
}